<div class="row component-container">
  <div class="col-sm-12 col-md-6 offset-md-3 login-box">
    <mat-card>
      <div class="icon">
        <img width="75" height="75" src="assets/login.svg" alt="box" />
      </div>
      <form novalidate [formGroup]="form">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input (keydown.enter)="handleEnter($event)" formControlName="username" matInput placeholder="Type your username...">
            <mat-error>Username is required</mat-error>
            <span matSuffix><fa-icon [icon]="icons.faUser"></fa-icon></span>
          </mat-form-field>
        </div>
        <div style="margin-top: 4px;" class="col-md-12">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input (keydown.enter)="handleEnter($event)" formControlName="password" type="password" matInput placeholder="Type your password...">
            <mat-error>Password is required</mat-error>
            <span matSuffix><fa-icon [icon]="icons.faKey"></fa-icon></span>
          </mat-form-field>
        </div>
      </form>
      <div style="margin-top: 36px;" class="col-md-12">
        <button *ngIf="!isLogggingIn" [disabled]="form.invalid" (click)="Login()" color="primary" mat-raised-button>Login</button>
        <button color="primary" *ngIf="isLogggingIn" mat-raised-button>Loading...</button>
      </div>
    </mat-card>
  </div>
</div>