<div class="row component-container">
  <div class="col-sm-12 col-md-6">
    <mat-card appHover class="card-container">
      <div class="icon">
        <img width="75" height="75" src="assets/box.svg" alt="box" />
      </div>
      <div class="title">
        Assets Management
      </div>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-6">
    <mat-card appHover class="card-container">
        <div class="icon">
            <img width="75" height="75" src="assets/shield.svg" alt="box" />
          </div>
      <div class="title">
        Security Management
      </div>
    </mat-card>
  </div>
</div>